#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body{
  background-image: url("https://www.kundhi.com/blog/kundhi_images/october_sunrise_background.jpg");
}


.weather{
  background-color: #E0DFE1;
  width: 35vw;
  height: 80vh;
  border-radius: 10%;
  padding: 5px;
}

.weather2 h1{
  font-size: 30px;
  color:#A55EC4;
  
}

.weather2 h2{
  font-size: 20px;
  color: #A55EC4;
}

.weather2{
  margin-top: 40px;
}

.info ul{
  display: inline-block;
vertical-align: middle;
text-align: left;
color: #A55EC4;
}

.info b{
  color: #000;
}


.info img{
   float: right;
   padding: 10px;
}

p{
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 80%;
  font-size: 20px;
}

.weather button{
background:#A55EC4;
color: #E0DFE1;
}